version: "3.8"

services:

  # ---------------------------
  # Django App
  # ---------------------------
  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn core.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - 8000
    restart: always


  # ---------------------------
  # MySQL Database
  # ---------------------------
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: django_db
      MYSQL_USER: django_user
      MYSQL_PASSWORD: django_pass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"


  # ---------------------------
  # Nginx
  # ---------------------------
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - web
    restart: always


# ---------------------------
# Volumes
# ---------------------------
volumes:
  static_volume:
  mysql_data:

