DEBUG=False

SECRET_KEY=your-secret-key

ALLOWED_HOSTS=localhost,127.0.0.1,65.2.191.75
CSRF_TRUSTED_ORIGINS=http://65.2.191.75

DB_ENGINE=mysql
DB_NAME=django_db
DB_USERNAME=django_user
DB_PASS=django_pass
DB_HOST=db
DB_PORT=3306
